<div>
    <form action="">
        <div class="input-group">
            <label for="card-number">Card Number</label>
            <input type="text" name = "card-number" id = "card-number" placeholder="Card Number">
        </div>

        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" name = "name" id = "name" placeholder="Card Holder">
        </div>

        <div class="input-group">
            <label for="expiry-date">Expiry Date</label>
            <input type="text" name = "expiry-date" id = "expiry-date" placeholder="MM/YY">
        </div>

        <div class="input-group">
            <label for="security-code">CVV</label>
            <input type="text" inputmode="numeric" pattern="[0-9]*"  name = "security-code" id = "security-code" placeholder="CVV">
        </div>

    </form>
</div>